<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cart</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Here is a title</h5>
    <p class="card-text">Here is some text to explain something.  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, quasi ex? Nobis officia ullam quis aut enim! Dolor saepe in quidem non ad autem assumenda unde suscipit. Id, cupiditate fugit? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ratione magnam alias obcaecati eaque nisi, dolor expedita quasi quo incidunt laboriosam, ullam ea praesentium a quos nam commodi quod fugit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ipsam minus illum vero quis. Culpa repellat, non hic ea totam, explicabo qui incidunt ad officiis placeat quas at? Excepturi, ut.</p>
    <a href="#" class="btn btn-primary">Go places</a>
  </div>
</div>
