<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Categories of Courses</h5>
        <div *ngFor="let category of categories" class="card-text">{{ category.label }}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Here are the courses</h5>
        <div *ngFor="let course of courses" class="card-text">{{ course.title }}</div>
      </div>
    </div>
  </div>
</div>
